{
  "cameras": [
    {
      "make": "dlink",
      "model": "DCS-936L",
      "name": "DCS-936L",
      "networkAddress": "http://192.168.1.4/",
      "username": "admin",
      "password": "password",
      "frameGrabDelayMillis": 3000,
      "driver": {
        "type": "browser",
        "implementation": "com.alexhilman.dlink.dcs936.Dcs936Client"
      }
    }
  ]
}