<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="filename">/var/log/camera-dashboard/camera-dashboard.log</Property>
    </Properties>
    <!--<ThresholdFilter level="INFO"/>-->

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d %p [%t] %c{1.}: %m %ex%n"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout>
                <pattern>%d %p [%t] %c{1.}: %m %ex%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="com.alexhilman.cameradashboard.ui.driver" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>