<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="filename">/var/log/camera-dashboard/camera-dashboard.log</Property>
    </Properties>
    <!--<ThresholdFilter level="INFO"/>-->

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <Pattern>%d{DEFAULT} [%t] %p [%c{1.}]: %m%ex%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="File" fileName="log/all.log" filePattern="log/all-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{DEFAULT} [%t] %p [%c{1.}]: %m%ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="org.eclipse.jetty.annotations.AnnotationParser" level="error"/>
        <Logger name="com.alexhilman.cameradashboard.ui.driver" level="DEBUG"/>
        <Logger name="org.subethamail.smtp" level="debug"/>
    </Loggers>
</Configuration>