@import "mytheme";
@import "addons";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

  .small-margin {
    margin: 7px;
  }
}


.mytheme .root-actions .v-button.circle-button {
  border-style: solid;
  border-width: 4px;
  border-color: #197de1;
  height: 86px;
  padding: 0 26px;
  border-radius: 100%;
  background: transparent;
  color: #197de1;
}